body {
	background-image: url(../images/IMG_0983.jpg);
	min-height: 500px;
	background-repeat: repeat;
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: cover;
}

/* Whole Page header DIV */
.header {
	width: 100%;
	border-bottom: 2px white;
	border-style: solid none;
}

/* menu section*/
.menu {
	width: 960px;
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	right: 300px;
}

#name {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 30px;
	position: relative;
	left: 400px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold;
	letter-spacing: 3px;
}

li {
	float: right;

}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	font-family: 'Alegreya Sans SC', sans-serif;
}

li a:hover:not(.active) {
	background-color: #D6665A;
}

/* Contact me Div section */
.contactMeSection {
	height: 495px;
	width: 650px;
	border: solid;
	background-color: rgba(0,0,0,0.5);
	border-color: white;
	border-width: thin;
	position: relative;	
	left: 100px;
	top: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 150px;
	overflow: auto;
}

/* ContactmeHeader */ 
.ContactmeHeader {	
	float: left;
	color: white;
	font-weight: thin;
	top: 0px;
	width: 608px;
	height: 53px;
	font-size: 30px;
	text-transform: uppercase;
	padding-top: 20px;
	text-align: left;
	margin-left: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	z-index: -1;
}

/*horizontal line */
#hr1 {
	width: 600px;
	position: absolute;
	left: 15px;
	right: 20px;
}

/* Form Section */
.inputForm {
	float: left;
	position: absolute;
	padding-top: 20px;
	left: 25px;
	top: 100px;
	z-index: 10;
	text-align: justify;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
}

/*ContactsideBar*/
.ContactsideBar {
	width: 270px;
	height: 200px;
	background-color: rgba(0,0,0,0.5);
	float: right;
	position: absolute;
	right: 320px;
	top: 130px;
	border: solid;
	border-color: white;
	border-width: thin;
}

/* sideBar Profile Header*/
.profileAboutme {
	float: left;
	color: white;
	font-weight: thin;
	text-transform: uppercase;
	top: 0px;
	font-size: 25px;
	width: 200px;
	height: 40px;
	padding-bottom: 30px;
	padding-top: 45px;
	text-align: center;
	margin-left: 35px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.iconDiv{
	width: 200px;
	position: absolute;
	left: 12px;
}

/* Social Media Icons */
.LinkedIn {
	position: absolute;
	top: 100px;
	left: 40px;
	width: 50px;
	height: 50px;
}

.StackOverflow {
	position: absolute;
	top: 100px;
	left: 97px;
	width: 50px;
	height: 50px;
}

.GitHub {
	position: absolute;
	top: 100px;
	left: 155px;
	width: 50px;
	height: 50px;
}

/* Contact footer */
.contactfooter {
	position: relative;
	width: 100%;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-top: 100px;
	border-top: 2px white;
	border-style: solid none;
	text-align: center;
	color: white;
	font-size: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 2px;
}