body {
/*	background-image: url(../images/lastNameLogo.png);*/
    margin: 0;
    padding: 0;
}

.introName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    background-image: url(../images/lastNameLogo.png);
    background-repeat: no-repeat;
    background-position: center; 
    border: solid;
    border-color: white;
}

.board {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    background-color: rgb(66, 89, 115);
}

#vacancy {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
}
